# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
artifacts
cache
typechain
typechain-types

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage
coverage.json

# Misc
.DS_Store
*.pem 